Filter: <input type="text" ng-model="customerFilter.name"/>
        <table>
            <tr>
                <th>Name</th>
                 <th>City</th>
                 <th>Order Total</th>
                 <th>Joined</th>
                <th>&nbsp;</th>
            </tr>
            <tr data-ng-repeat="cust in customers | filter:customerFilter | orderBy:'name'">
             <td>{{cust.name}}</td>
               <td>{{cust.city}}</td>
                 <td>{{cust.orderTotal | currency:'€'}}</td>
                 <td>{{cust.joined | date}}</td>
                <td><a href="/#/orders/{{cust.id}}">View orders</a></td>
            </tr>
        
        </table>